.taskForm {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  
    .taskForm-input {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #3f51b5;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s;
  
      &:focus {
        border-color: #303f9f;
      }
    }
  
    .taskForm-button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #3f51b5;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      margin-left: 10px;
  
      &:hover {
        background-color: #303f9f;
      }
    }
  }