@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.9);
    }
}

.taskItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.2s ease-in-out,
        background-color 0.3s;
    animation: slideIn 0.3s ease-out;

    &.fadeOut {
        animation: fadeOut 0.3s ease-in-out;
    }

    &:hover {
        transform: scale(1.02);
        background-color: #f1f1f1;
    }

    span {
        flex: 1;
        font-size: 16px;
        color: #333;
    }

    button {
        margin-left: 10px;
        padding: 8px 12px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        transition:
            background-color 0.3s,
            color 0.3s;

        &:first-of-type {
            background-color: #ffeb3b;
            color: black;

            &:hover {
                background-color: #fbc02d;
            }
        }

        &:last-of-type {
            background-color: #f44336;
            color: white;

            &:hover {
                background-color: #d32f2f;
            }
        }
    }

    input {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        margin-right: 10px;
    }
}
